.guide .gzzn_content {
  margin: auto;
  width: 1200px;
}
.guide .gzzn_content .gzzn_title {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
}
.guide .gzzn_content .kong {
  height: 40px;
}
.guide .gzzn_content .gzzn_regulations {
  padding: 0 100px 50px 100px;
  margin: auto;
  width: 1000px;
}
.guide .gzzn_content .gzzn_regulations p {
  font-size: 20px;
  text-indent: 2em;
}
