.register_content {
  width: 100%;
  height: 100vh;
  background: url(../images/14101848edou.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.register_content .register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
}
.register_content .register .register_title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
.register_content .register .el-form {
  padding: 20px 0;
  width: 300px;
  margin: auto;
}
.register_content .register .el-form .el-form-item {
  margin-bottom: 25px;
}
.register_content .register .el-form .zhuce {
  position: relative;
  margin-bottom: 20px;
}
.register_content .register .el-form .zhuce a {
  display: block;
  position: absolute;
  right: 0;
  font-size: 12px;
  color: blue;
}
